<!-- views/partials/website/footer-website.ejs -->

<section class="footer-section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="footer-wrapper">
      <div
        data-w-id="5f391e59-60c8-9d8e-6404-450c32b4aef8"
        class="footer-top-block"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <div
          id="w-node-f4fab60c-8493-c494-3a09-03e6223231a3-223231a0"
          class="footer-left-block"
        >
          <a
            href="/"
            aria-current="page"
            class="footer-logo-wrapper w-nav-brand w--current"
            ><img
              loading="lazy"
              src="assets/images/MyMedicare-Horizontal.svg"
              alt=""
              class="footer-logo"
          /></a>
        </div>
        <div class="footer-right-block">
          <div class="footer-widget">
            <a href="#" class="footer-link">Home</a>
            <a href="#about" class="footer-link">About</a>
          </div>

          <div class="footer-widget">
            <a href="#pricing" class="footer-link">Plans</a>
            <a href="#faq-section" class="footer-link">FAQs</a>
          </div>

          <div class="footer-widget">
            <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
            <a href="/terms" class="footer-link">Terms of Service</a>
          </div>
        </div>
      </div>
      <div
        data-w-id="98ad6086-a2b3-3ca8-0a70-2909c5875d71"
        class="footer-bottom-block"
        style="
          opacity: 1;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <p class="copyright">
          Copyright © 2025 MyMedicare. All Rights Reserved.<br />
        </p>
        <div class="social-icons">
          <a
            data-w-id="2b6c8a42-922e-8b96-679c-d70d48aa5fbe"
            href="https://www.twitter.com/"
            target="_blank"
            class="social-link w-inline-block"
            ><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1f9828217d5124d163c_twitter.svg"
              loading="lazy"
              alt=""
              class="footer-icon-normal" /><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1f9d7203f19c1da1048_twitter2.svg"
              loading="lazy"
              alt=""
              class="footer-icon-hover" /></a
          ><a
            data-w-id="2b6c8a42-922e-8b96-679c-d70d48aa5fc4"
            href="https://www.facebook.com/"
            target="_blank"
            class="social-link w-inline-block"
            ><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1f9b7223f2b93b0b888_facebook.svg"
              loading="lazy"
              alt=""
              class="footer-icon-normal" /><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1f99f13703937b7636d_facebook2.svg"
              loading="lazy"
              alt=""
              class="footer-icon-hover" /></a
          ><a
            data-w-id="2b6c8a42-922e-8b96-679c-d70d48aa5fc1"
            href="https://www.linkedin.com/"
            target="_blank"
            class="social-link w-inline-block"
            ><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1f92e3bc56134e6bde0_linkedin.svg"
              loading="lazy"
              alt=""
              class="footer-icon-normal" /><img
              src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e1fa8b3edfa8d0693b29_linkedin2.svg"
              loading="lazy"
              alt=""
              class="footer-icon-hover"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
