<!-- views/partials/website/navbar-website.ejs -->

<div class="w-layout-blockcontainer container w-container">
  <div
    data-w-id="be61f925-d3a9-be49-f008-b802122495b1"
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease"
    data-easing2="ease"
    role="banner"
    class="navbar w-nav"
  >
    <div class="navbar-wrapper _1">
      <div class="navbar-logo-menu">
        <a
          href="/"
          aria-current="page"
          class="navbar-brand-header w-nav-brand w--current"
        >
          <img
            src="/assets/images/MyMedicare_Logo-removebg-preview.png"
            loading="lazy"
            alt="MyMedicare Logo"
            class="navbar-brand-header-logo"
          />
        </a>
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
          <ul role="list" class="nav-menu w-list-unstyled">
            <li class="list-item">
              <a href="/" class="nav-link">Home</a>
            </li>

            <li class="list-item">
              <a href="#pricing" class="nav-link">Pricing</a>
            </li>

            <li class="list-item">
              <a href="#about" class="nav-link">About Us</a>
            </li>

            <li class="list-item nav-disappear">
              <a href="sign-in.html" class="nav-link">Log In</a>
            </li>

            <li class="list-item nav-disappear">
              <a href="sign-up.html" class="nav-link">Sign Up</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="navbar-button">
        <a
          data-wf--button--variant="link"
          data-w-id="6140ac12-e782-d67b-bc27-3a3036803ae7"
          href="sign-in.html"
          class="button w-variant-1d37e4ee-5ab8-1fee-b0e2-2cebd93e548b w-inline-block"
        >
          <div class="button-area">
            <div
              class="button-text w-variant-1d37e4ee-5ab8-1fee-b0e2-2cebd93e548b"
            >
              login
            </div>
            <div class="button-icon-wrapper">
              <img
                src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/67469be284b048fa58edab3a_cheveron-right-white.svg"
                loading="lazy"
                alt=""
                class="button-right-icon"
              />
            </div>
          </div>
        </a>
        <a
          data-wf--button--variant="primary-sm"
          data-w-id="6140ac12-e782-d67b-bc27-3a3036803ae7"
          href="sign-up.html"
          class="button w-inline-block"
        >
          <div class="button-area">
            <div class="button-text">Try the Web App</div>
            <div class="button-icon-wrapper">
              <img
                src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/67469be284b048fa58edab3a_cheveron-right-white.svg"
                loading="lazy"
                alt=""
                class="button-right-icon"
              />
            </div>
          </div>
        </a>
      </div>
      <div class="menu-button w-nav-button">
        <div
          data-is-ix2-target="1"
          class="menu-button-icon"
          data-w-id="be61f925-d3a9-be49-f008-b802122495d5"
          data-animation-type="lottie"
          data-src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/67469be284b048fa58eda597_dark%20icon.json"
          data-loop="0"
          data-direction="1"
          data-autoplay="0"
          data-renderer="svg"
          data-default-duration="2.36"
          data-duration="0"
        ></div>
      </div>
    </div>
  </div>
</div>
