<!-- views/website/not-found.ejs -->

<aside class="inner-hero-section _404-section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="_404-wrapper">
      <img
        src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/6746e4d8de773b6aac6b575a_404.svg"
        loading="lazy"
        alt=""
        class="_404-image"
      />
      <div
        data-w-id="ed71b4dc-31fd-6d3a-4607-5f4239deb333"
        style="opacity: 0"
        class="_404-content-block"
      >
        <div class="_404-content">
          <h2 class="display-heading-2">Sorry! Page not found<br /></h2>
          <p class="body-text-18">
            it looks like the page you’re looking for doesn’t exist or might
            have been moved. don’t worry, let’s get you back on track!
          </p>
        </div>
        <a
          data-wf--button--variant="border-sm"
          data-w-id="6140ac12-e782-d67b-bc27-3a3036803ae7"
          href="index.html"
          class="button w-variant-ac08d2a5-a49c-f69a-dbbf-12535f988a9f w-inline-block"
          ><div class="button-area">
            <div class="button-text">back to home</div>
            <div class="button-icon-wrapper">
              <img
                src="https://cdn.prod.website-files.com/67469be284b048fa58eda575/67469be284b048fa58edab3a_cheveron-right-white.svg"
                loading="lazy"
                alt=""
                class="button-right-icon"
              />
            </div></div
        ></a>
      </div>
    </div>
  </div>
</aside>
